<div class="row">
  <div class="menu"
       bindonce 
       bo-class="{'col s3':  !vm.isMobile, 'col s12': vm.isMobile}">
    <!-- TABLET/DESKTOP NAV --> 
    <div bindonce bo-if="!vm.isMobile">
      <ul class="side-nav fixed">
        <li ng-click="vm.goToState('app.portfolio')">Portafolio</li>
        <li ng-click="vm.goToState('app.about')">Somos</li>
      </ul>
    </div>
    
    <!-- MOBILE NAV --> 
    <div class="row" bindonce bo-if="vm.isMobile">
      <!-- HAMBURGUER BUTTON -->
      <div class="col s3 offset-s9">
        <a class="toggle-button" 
                ng-class="{'collapsed': vm.isOpenMenu}"
                ng-click="vm.isOpenMenu = !vm.isOpenMenu">
          <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path class="top-bar icon-bar" fill="none" stroke="#000" stroke-width="5" stroke-linejoin="bevel" d="m 5.0916789,20.818994 53.8166421,0"/>
              <path class="middle-bar icon-bar" fill="none" stroke="#000" stroke-width="5" stroke-linejoin="bevel" d="m 5.1969746,31.909063 53.8166424,0"/>
              <path class="bottom-bar icon-bar" fill="none" stroke="#000" stroke-width="5" stroke-linejoin="bevel" d="m 5.0916788,42.95698 53.8166422,0"/>
            </g>
          </svg>
        </a>
      </div>
      <!-- MOBILE MENU -->
 
    </div>
  </div>
  
  <div bindonce bo-class="{'col s9 offset-s3 container':  !vm.isMobile, 'col s12': vm.isMobile}">
    <!-- TABLET/DESKTOP VIEW -->
    <div bindonce bo-if="!vm.isMobile">
      <ui-view></ui-view>
    </div> 
    <!-- MOBILE VIEW -->
    <div bindonce bo-if="vm.isMobile">
      <!-- THE SECTIONS -->
      <div ng-include src="'app/portfolio/portfolio.html'"></div>
      <div ng-include src="'app/about/about.html'"></div>
      <!-- THE FLOATING BUTTON  -->
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large light-blue accent-4 waves-effect waves-light">
          <i class="large mdi-maps-local-post-office"></i>
        </a>
      </div>

    </div> 
  </div>

</div><!-- row -->