.menu{
  background-color: #FF6347;
}

.toggle-button .icon-bar {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

/*NORMAL HAMBURGER'S BAR*/
.toggle-button .top-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.toggle-button .middle-bar {
    opacity: 1;
}
.toggle-button .bottom-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/*NORMAL HAMBURGER'S BAR*/
.toggle-button.collapsed .top-bar {
    
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 0% 0%;

    -moz-transform: rotate(45deg);
    -moz-transform-origin: 0% 0%;

    -o-transform: rotate(45deg);
    -o-transform-origin: 0% 0%;

    -ms-transform: rotate(45deg);
    -ms-transform-origin: 0% 0%;

    transform: rotate(45deg);
    transform-origin: 0% 0%;
}
.toggle-button.collapsed .middle-bar {
    opacity: 0;
}
.toggle-button.collapsed .bottom-bar {
    
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 0% 100%;
    
    -moz-transform: rotate(-45deg);
    -moz-transform-origin: 0% 100%;
   
    -o-transform: rotate(-45deg);
    -o-transform-origin: 0% 100%;
    
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 0% 100%;
    
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
}